$wrapper: 70%;
$blue: #414fe6;
$grey: #3a4055;
$toDown: linear-gradient(#000105, #080321);
$toLeft: linear-gradient(90deg, #000105 0%, #080321 80%);

// Small devices
@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

// Extra Large devices
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}

// Two Extra Large (xxl)
@mixin xxl {
  @media (min-width: 1536px) {
    @content;
  }
}
