@import "../../Utilities/utilities.scss";

.videos {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: auto;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include xl {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .item {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
