@import "../../Utilities/utilities.scss";

.home {
  width: $wrapper;
  padding-top: 100px;
  margin: auto;
  height: 100vh;
  transition: width 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  @include md {
    padding-top: 0;
    padding-left: 100px;
  }
}

.image {
  margin: auto;
  width: 80%;
}

.image img {
  width: 100%;
}
