@import "../../Utilities/utilities";

.slider {
  width: 100%;
  margin: auto;

  @include sm {
    width: $wrapper;
  }
}

.swiper {
  width: 100%;

  .slide {
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
